@use "variables" as v;
@import "./reset";

// Global

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: v.$black;
  overflow-x: hidden;
}

.siteWrapper {
  position: relative;
}

.container-lg {
  width: 1500px;
}

// hero

.heroSection {
  margin-bottom: 300px;
  h1 {
    font-size: 9vw;
    line-height: 9vw;
    text-transform: uppercase;
    span {
      color: v.$highlight;
    }
  }
}

// Work

.workContainerWrap {
  position: sticky;
  top: 20vh;
  .work_container {
    .projectBox {
      .proImage {
        @include v.bgSize(cover);
      }
    }
  }
}

// About

.textBlock {
  strong {
    color: v.$highlight;
  }
}

.skill {
  .skillsHighlight {
    bottom: 50%;
    top: 50%;
  }
  p {
    color: v.$black;
  }
  &:hover {
    .skillsHighlight {
      bottom: 0%;
      top: 0%;
    }
    p {
      color: v.$white;
    }
  }
}
