$black : #050505;
$white : #ffffff;
$highlight: rgb(234 179 8);

// Mixin

@mixin bgSize($arg) {
    background-size: $arg!important;
    -webkit-background-size: $arg!important;
    -moz-background-size: $arg!important;
    -o-background-size: $arg!important;
}